@keyframes football {
  0% {
    bottom: 0;
    left: 5px;
    transform: scale(1);
  }

  55% {
    bottom: calc(100% - 70px);
  }

  100% {
    bottom: 30%;
    left: calc(100% - 80px);
    transform: scale(.3);
  }
}
