@keyframes football {
  0% {
    bottom: 0;
    left: 5px;
    transform: scale(1);
  }

  55% {
    // Do not use calc(100% - 70px), because IE has a problem with it
    bottom: 70%;
  }

  100% {
    bottom: 30%;
    // Do not use calc(100% - 80px), because IE has a problem with it
    left: 75%;
    transform: scale(.3);
  }
}
