@-webkit-keyframes formulaOne {
  0% {
    left: 15px;
    top: 10px;
  }

  40% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    left: calc(100% - 90px);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  90% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    left: 15px;
    top: 10px;
  }
}
@keyframes formulaOne {
  0% {
    left: 15px;
    top: 10px;
  }

  40% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    left: calc(100% - 90px);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  90% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    left: 15px;
    top: 10px;
  }
}
