@keyframes formulaOne {
  0% {
    left: 15px;
    top: 10px;
  }

  40% {
    transform: rotate(0deg);
  }

  50% {
    // Do not use calc(100% - 90px), because IE has a problem with it
    left: 70%;
    transform: rotate(180deg);
  }

  90% {
    transform: rotate(180deg);
  }

  100% {
    left: 15px;
    top: 10px;
  }
}
