@-webkit-keyframes snowboarding {
  0% {
    bottom: 35px;
    left: 0;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }

  25% {
    bottom: 25px;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }

  35% {
    bottom: 50px;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }

  45% {
    bottom: 20px;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }

  60% {
    bottom: 5px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    bottom: 0;
    left: 90%;
  }
}
@keyframes snowboarding {
  0% {
    bottom: 35px;
    left: 0;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }

  25% {
    bottom: 25px;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }

  35% {
    bottom: 50px;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }

  45% {
    bottom: 20px;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }

  60% {
    bottom: 5px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    bottom: 0;
    left: 90%;
  }
}
