@keyframes snowboarding {
  0% {
    bottom: 35px;
    left: 5px;
    transform: rotate(5deg);
  }

  25% {
    bottom: 25px;
    transform: rotate(5deg);
  }

  35% {
    bottom: 50px;
    transform: rotate(-15deg);
  }

  45% {
    bottom: 20px;
    transform: rotate(-10deg);
  }

  60% {
    bottom: 5px;
    transform: rotate(0deg);
  }

  100% {
    bottom: 0;
    // Do not use calc(100% - 80px), because IE has a problem with it
    left: 70%;
  }
}
