@-webkit-keyframes bounce {
  20%, 53%, 80%, from, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}
@keyframes bounce {
  20%, 53%, 80%, from, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}
@-webkit-keyframes football {
  0% {
    bottom: 0;
    left: 5px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  55% {
    bottom: 70%;
  }
  100% {
    bottom: 30%;
    left: 75%;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
}
@keyframes football {
  0% {
    bottom: 0;
    left: 5px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  55% {
    bottom: 70%;
  }
  100% {
    bottom: 30%;
    left: 75%;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
}
@-webkit-keyframes snowboarding {
  0% {
    bottom: 35px;
    left: 5px;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  25% {
    bottom: 25px;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  35% {
    bottom: 50px;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  45% {
    bottom: 20px;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  60% {
    bottom: 5px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    bottom: 0;
    left: 70%;
  }
}
@keyframes snowboarding {
  0% {
    bottom: 35px;
    left: 5px;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  25% {
    bottom: 25px;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  35% {
    bottom: 50px;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  45% {
    bottom: 20px;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  60% {
    bottom: 5px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    bottom: 0;
    left: 70%;
  }
}
@-webkit-keyframes formulaOne {
  0% {
    left: 15px;
    top: 10px;
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    left: 70%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  90% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    left: 15px;
    top: 10px;
  }
}
@keyframes formulaOne {
  0% {
    left: 15px;
    top: 10px;
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    left: 70%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  90% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    left: 15px;
    top: 10px;
  }
}
section {
  padding-top: 50px;
}

main p a {
  border-bottom: 1px solid #2780E3;
  color: #373a3c;
  text-decoration: none;
  -webkit-transition: background 1s, border 1s, color 1s;
  transition: background 1s, border 1s, color 1s;
}
main p a:hover {
  background-color: rgb(218.28, 233.41, 250.24);
  border-color: #1560b3;
  border-radius: 3px;
  text-decoration: none;
}
main p a:focus {
  text-decoration: none;
}

.navbar {
  --bs-navbar-color: rgba(255, 255, 255, 0.85);
  --bs-navbar-hover-color: #fff;
  --bs-navbar-active-color: #fff;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
  background: rgba(4, 6, 6, 0.5);
  font-weight: 400;
  -webkit-transition: background 2s;
  transition: background 2s;
  z-index: 9999;
}

.navbar-brand {
  padding-right: 0;
}
.navbar-brand:hover {
  -webkit-animation: bounce 1s both;
          animation: bounce 1s both;
}

.navbar__link {
  position: relative;
}
.navbar__link .nav-link.active::after {
  border-bottom: 0.2rem solid #2780E3;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}
.navbar__link:hover::after {
  border-bottom: 0.2rem solid #1560b3;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}

.navbar--scrolled {
  background: rgba(4, 6, 6, 0.9);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.page-header {
  border-bottom: 1px solid #eeeeee;
  margin: 40px 0 20px;
  padding-bottom: 9px;
}

h1 i {
  color: #2780E3;
}

.projects__description {
  border-bottom: 0.2rem solid #2780E3;
  border-left: 0.3rem solid #2780E3;
  margin-bottom: 40px;
  padding-left: 2rem;
}

.carousel-item img {
  display: block;
  width: 100%;
}

.skills__img {
  height: 2em;
  margin-right: 0.5em;
}

.skills__list {
  list-style-type: none;
}
.skills__list li {
  margin: 1em;
}

.header {
  background: #1a1a1a url("../imgs/cover.svg") no-repeat center center;
  background-size: cover;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  height: 500px;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__container {
  height: 430px;
}

.header__profile-pic {
  height: 120px;
  margin-top: 120px;
  margin-bottom: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 120px;
}

.footer {
  border-top: 0.2rem solid #eeeeee;
  color: #373a3c;
  margin-top: 10rem;
  padding: 4rem;
}
.footer p a {
  color: rgb(27.4721311475, 114.7942622951, 211.9278688525);
}

.go-top {
  color: rgba(35, 68, 101, 0.5);
  bottom: 2rem;
  display: none;
  position: fixed;
  right: 2rem;
}
.go-top:hover {
  color: #2780E3;
}

.sports-img-wrapper {
  height: 150px;
  position: relative;
  width: 100%;
}

.football-img {
  -webkit-animation: football 5s infinite;
          animation: football 5s infinite;
  position: absolute;
}

.snowboarding-img {
  -webkit-animation: snowboarding 7s infinite;
          animation: snowboarding 7s infinite;
  position: absolute;
}

.formula-img {
  -webkit-animation: formulaOne 8s infinite;
          animation: formulaOne 8s infinite;
  position: absolute;
}