@use 'sass:color';
@use 'bounce' as *;
@use 'football' as *;
@use 'snowboarding' as *;
@use 'formulaOne' as *;

$primary:          #2780E3;
$link-color:       $primary;
$link-hover-color: #1560b3;
$gray-dark:        #373a3c;
$gray-lighter:     #eeeeee;

@mixin active-style($color) {
  border-bottom: .2rem solid $color;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  width: 100%;
}

@mixin sport-animation($style, $duration) {
  animation: $style $duration infinite;
  position: absolute;
}

:root {
  --bs-font-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

section {
  padding-top: 50px;
}

main p a {
  border-bottom: 1px solid $link-color;
  color: $gray-dark;
  text-decoration: none;
  transition: background 1s, border 1s, color 1s;

  &:hover {
    background-color: color.scale($link-color, $lightness: 83%);
    border-color: $link-hover-color;
    border-radius: 3px;
  }


}

// Navbar
.navbar {
  --bs-navbar-color: rgba(255, 255, 255, 0.85);
  --bs-navbar-hover-color: #fff;
  --bs-navbar-active-color: #fff;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
  background: rgba(4, 6, 6, .5);
  font-weight: 400;
  transition: background 2s;
  z-index: 9999;
}

.navbar-brand {
  padding-right: 0;

  &:hover {
    animation: bounce 1s both;
  }
}

.navbar__link {
  position: relative;

  .nav-link.active::after {
    @include active-style($primary);
  }

  &:hover::after {
    @include active-style($link-hover-color);
  }
}

.navbar--scrolled {
  background: rgba(4, 6, 6, .9);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  width: 100%;
}

.page-header {
  border-bottom: 1px solid $gray-lighter;
  margin: 40px 0 20px;
  padding-bottom: 9px;
}

h1 i {
  color: $primary;
}

.projects__description {
  border-bottom: .2rem solid $primary;
  border-left: .3rem solid $primary;
  margin-bottom: 40px;
  padding-left: 2rem;
}

.carousel-item img {
  display: block;
  width: 100%;
}

.skills__img {
  height: 2em;
  margin-right: .5em;
}

.skills__list {
  list-style-type: none;

  li {
    margin: 1em;
  }
}

.header {
  background: #1a1a1a url('../imgs/cover.svg') no-repeat center center;
  background-size: cover;
  color: #fff;
  font-weight: 500;
  height: 500px;
}

.header__social {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
}

.header__container {
  height: 430px;
}

.header__profile-pic {
  height: 120px;
  margin-top: 120px;
  margin-bottom: 1rem;
  object-fit: cover;
  width: 120px;
}

.footer {
  border-top: .2rem solid $gray-lighter;
  color: $gray-dark;
  margin-top: 10rem;
  padding: 4rem;

  p a {
    color: color.scale($link-color, $lightness: -10%)
  }
}

.go-top {
  color: rgba(35, 68, 101, .5);
  bottom: 2rem;
  display: none;
  position: fixed;
  right: 2rem;

  &:hover {
    color: $primary;
  }
}

// Sports animations
.sports-img-wrapper {
  height: 150px;
  position: relative;
  width: 100%;
}

.football-img {
  @include sport-animation(football, 5s);
}

.snowboarding-img {
  @include sport-animation(snowboarding, 7s);
}

.formula-img {
  @include sport-animation(formulaOne, 8s);
}
