@import 'variablesCosmo';
@import 'bootstrap-custom';
@import 'bootswatchCosmo';
@import 'bounce';
@import 'football';
@import 'snowboarding';
@import 'formulaOne';

body {
  position: relative;
}

section {
  padding-top: 50px;
}

main p a {
  border-bottom: 1px solid $link-color;
  color: $gray-dark;
  transition: background 1s, border 1s, color 1s;

  &:hover {
    background-color: lighten($link-color, 40%);
    border-color: $link-hover-color;
    border-radius: 3px;
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}

.navbar {
  background: rgba(4, 6, 6, .3);
  font-weight: 400;
  margin-bottom: 0;
  transition: background 2s;
  z-index: 9999;
}

.navbar-brand:hover {
  animation: bounce 1s both;
}

@mixin active-style ($color) {
  border-bottom: .5rem solid $color;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  width: 100%;
}

.navbar__link.active::after {
  @include active-style($brand-primary);
}

.navbar__link:hover::after {
  @include active-style($link-hover-color);
}

.affix {
  background: rgba(4, 6, 6, .9);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  top: 0;
  width: 100%;
  z-index: 9999;

  .container-fluid {
    position: relative;
  }
}

h1 i {
  color: $brand-primary;
}

.projects__description {
  border-bottom: .2rem solid $brand-primary;
  border-left: .3rem solid $brand-primary;
  margin-bottom: 40px;
  padding-left: 2rem;
}

.skills__img {
  height: 2em;
  margin-right: .5em;
}

.skills__list {
  list-style-type: none;

  li {
    margin: 1em;
  }
}

.header {
  background: $navbar-default-bg url('../imgs/cover.jpg') no-repeat center center fixed;
  background-size: cover;
  color: $navbar-default-color;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  height: 500px;
}

.header__container {
  height: 430px;
}

.header__profile-pic {
  margin-top: 120px;
  width: 120px;
}

.footer {
  background: $navbar-default-bg;
  color: $gray-light;
  margin-top: 4rem;
  padding: 3rem;
}

.go-top {
  color: rgba(35,68,101,.5);
  bottom: 2rem;
  display: none;
  position: fixed;
  right: 2rem;
}

// Sports animations
.sports-img-wrapper {
  height: 150px;
  position: relative;
  width: 100%;
}

@mixin sport-animation ($style, $duration) {
  animation: $style $duration infinite;
  position: absolute;
}

.football-img {
  @include sport-animation(football, 5s);
}

.snowboarding-img {
  @include sport-animation(snowboarding, 7s);
}

.formula-img {
  @include sport-animation(formulaOne, 8s);
}
