@import 'variablesCosmo';
$icon-font-path: '../libs/bootstrap/fonts/';
@import '../libs/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'bootswatchCosmo';

body {
  position: relative;
}

section {
  padding-top: 50px;
}

.navbar {
  background: rgba(4, 6, 6, .3);
  font-weight: 400;
  margin-bottom: 0;
  -webkit-transition: background 2s;
  transition: background 2s;
  z-index: 9999;
}

@mixin active-style ($color) {
  border-bottom: .5rem solid $color;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  width: 100%;
}

.navbar__link.active::after {
  @include active-style($brand-primary);
}

.navbar__link:hover::after {
  @include active-style($link-hover-color);
}


.affix {
  background: rgba(4, 6, 6, .9);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  top: 0;
  width: 100%;
  z-index: 9999;

  .container-fluid {
    position: relative;
  }
}

h1 i {
  color: $link-hover-color;
}

.skills__img {
  height: 2em;
  margin-right: .5em;
}

.skills__list {
  list-style-type: none;

  li {
    margin: 1em;
  }
}

.header {
  background: $navbar-default-bg url('../imgs/cover.jpg') no-repeat center center fixed;
  background-size: cover;
  color: $navbar-default-color;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  height: 500px;
}

.header__container {
  height: 430px;
}

.header__profile-pic {
  margin-top: 120px;
  width: 120px;
}

.footer {
  background: $navbar-default-bg;
  color: $gray-light;
  margin-top: 4rem;
  padding: 3rem;
}
